Workflow/RAG Pipeline_08_04_2026.json
{
  "name": "RAG Pipeline",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}{{ $json.chatInput }}",
        "options": {
          "systemMessage": "### ROLE\nYou are a Senior Research Analyst. Your goal is to provide high-density, factual summaries based solely on real-time web search results.\n\n### SEARCH STRATEGY\n1. Analyze the user's query and extract the most relevant keywords.\n2. Use the search tool to gather diverse and authoritative sources.\n3. Prioritize recent data and official documentation.\n\n### RIGOROUS CONSTRAINTS\n- BASE your answer ONLY on the retrieved documents. \n- NO FABRICATION: If the information is not present in the search results, state: \"Je ne sais pas.\"\n- OBJECTIVITY: Maintain a neutral, professional tone. Avoid marketing fluff or AI-style filler words.\n\n### RESPONSE FORMATTING (MANDATORY)\n1. **Fact-Dense Summary**: Provide a concise synthesis using bullet points for key data.\n2. **In-Text Citations**: Every factual claim must be followed by a reference number in brackets, e.g., [1] or [2].\n3. **Sources List**: At the end of your response, create a \"### Sources\" section listing every reference with its title and the direct URL.\n\n### LANGUAGE\n- Output Language: French.\n- Style: Concise, structured, and factual.\n\n### EXAMPLE STRUCTURE\n(Context: Fact A [1]. Fact B [2].)\n### Sources\n[1] Title of the page - https://url-link.com\n[2] Title of the page - https://url-link.com"
        }
      },
      "id": "2683b610-038b-4bee-afda-7c968c995ee8",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        4832,
        1168
      ],
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "Système du RAG Romiche IA\n",
        "height": 2236,
        "width": 2368,
        "color": 4
      },
      "id": "c70a5754-6bf6-4b7e-bf86-8e27c426cbe5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6d304620-8f3d-48bb-a2c2-85f1ccf4be9f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1632,
        304
      ],
      "id": "7505b263-ec48-4ab5-a581-a3bfbd227633",
      "name": "Webhook",
      "webhookId": "6d304620-8f3d-48bb-a2c2-85f1ccf4be9f"
    },
    {
      "parameters": {
        "toolOptions": {
          "toolName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Name', ``, 'string') }}",
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Description', ``, 'string') }}"
        },
        "retrievalOptions": {
          "documentsToRetrieve": 10,
          "documentsToReturn": 4,
          "returnRankedDocuments": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_Ranked_Documents', ``, 'boolean') }}"
        },
        "queryStrategy": {
          "strategyType": "simple_query"
        },
        "options": {}
      },
      "type": "n8n-nodes-query-retriever-rerank.queryRetrieverRerank",
      "typeVersion": 1,
      "position": [
        5120,
        1504
      ],
      "id": "081e63ed-8999-4824-b0c6-f7a01a34638a",
      "name": "Query Retriever with Rerank"
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        5328,
        1728
      ],
      "id": "86a419aa-a7db-467e-9adb-65c602b319cb",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        5200,
        1728
      ],
      "id": "05c7a5ff-40a1-46ea-b5d0-b2c4bf01e2c3",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_collection_tout_en_un_v3_test",
          "mode": "list",
          "cachedResultName": "rag_collection_tout_en_un_v3_test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        4944,
        1712
      ],
      "id": "76d50272-28d2-4ced-8f41-ab96455d9fe5",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:0.6b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        4944,
        1856
      ],
      "id": "c72d2139-416d-4bda-bf0a-06b31998e239",
      "name": "Embeddings Ollama3",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        5456,
        1728
      ],
      "id": "5ccdc1c4-90e9-4db0-b92e-db9f7449980b",
      "name": "Simple Memory1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.body.currentMessage }}",
        "options": {
          "systemPromptTemplate": "You are an assistant, for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\nYou are a text formatting assistant. Your task is to clean, parse, and reformat the raw text provided below.\n\n---------------\nCONTEXT : \n{context}\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        2368,
        -496
      ],
      "id": "23d54e32-ec12-4a40-b26e-72aae0f702e8",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {
          "temperature": 0.2,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2240,
        -256
      ],
      "id": "0a204b70-530d-4921-b2b6-3e127c0bb14c",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        2672,
        -192
      ],
      "id": "1f7b8d9f-6a15-4ae9-9d99-cee66d3f1e98",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2688,
        96
      ],
      "id": "057e6acc-44ac-4090-a6b5-be6d87517783",
      "name": "Embeddings Ollama5",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "queryCount": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverMultiQuery",
      "typeVersion": 1,
      "position": [
        2576,
        -304
      ],
      "id": "798da0ff-86fe-486f-8ff2-4b2fb191c662",
      "name": "MultiQuery Retriever"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.3,
          "numGpu": 1,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        4832,
        1328
      ],
      "id": "c2818669-d808-41b6-a0e6-a084cca672e1",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.2,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2496,
        -128
      ],
      "id": "863979aa-a698-4fcb-ade9-3a835a012f4b",
      "name": "Ollama Model3",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2704,
        -496
      ],
      "id": "564eb6b9-d768-4719-96e7-e194a22f81f9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "zyw0605688/bge-reranker-v2-m3:latest",
        "instruction": "retrieve relevant passages that answer the query",
        "additionalOptions": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-ollama-reranker.ollamaReranker",
      "typeVersion": 1,
      "position": [
        2800,
        112
      ],
      "id": "f6a9d2e3-038d-49cc-a7cb-52a39b91a5af",
      "name": "Ollama Reranker",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_collection_tout_en_un2",
          "mode": "list",
          "cachedResultName": "rag_collection_tout_en_un2"
        },
        "useReranker": true,
        "options": {
          "searchFilterJson": "{\n  \"should\": [\n    {\n      \"key\": \"metadata_doc_iut\",\n      \"is_empty\": false\n    },\n    {\n      \"key\": \"metadata_doc_test\",\n      \"is_empty\": false\n    },\n    {\n      \"key\": \"metadata_doc_iut_tableau_data\",\n      \"is_empty\": false\n    }\n\n    \n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        5200,
        864
      ],
      "id": "d0d68300-d5fe-454b-9bf0-444bf91a2c28",
      "name": "Qdrant Vector Store6",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        5200,
        976
      ],
      "id": "0e94a81c-9404-4d6e-aa7b-555aad7a34e6",
      "name": "Embeddings Ollama7",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "hf.co/bartowski/lb-reranker-0.5B-v1.0-GGUF:Q4_K_M",
        "instruction": "retrieve relevant passages that answer the query",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-ollama-reranker.ollamaReranker",
      "typeVersion": 1,
      "position": [
        5328,
        976
      ],
      "id": "ca489640-1d6e-46f0-8530-3a856bb81793",
      "name": "Ollama Reranker1",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_collection_tout_en_un_v3_test",
          "mode": "list",
          "cachedResultName": "rag_collection_tout_en_un_v3_test"
        },
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2640,
        -64
      ],
      "id": "f2aa782e-6cf2-4fb6-9a62-5b81da5ca509",
      "name": "Qdrant Vector Store7",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "path": "/RT3/SAE54ProjetRechercheetInnovation/Dataset/Test_Crawlinf_Scrapv6.md",
        "fileContent": "=data"
      },
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "position": [
        6112,
        368
      ],
      "id": "b27a846e-568e-4c78-b15e-dbb7b36c217a",
      "name": "Liste Dossier Test 2",
      "credentials": {
        "nextCloudApi": {
          "id": "LqpfTdIjRzUDVqbx",
          "name": "NextCloud account"
        }
      },
      "notes": "Contient des documents en tout genre sur des entreprises, chansons..."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "debe8ab5-bf07-4c6e-8ede-37da3688904e",
              "name": "markdown",
              "value": "={{ $json.markdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5360,
        368
      ],
      "id": "5503ce52-8e32-4361-8008-8bcde73b6ea5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "appended_markdown",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        5952,
        368
      ],
      "id": "d3989442-70f6-49e3-b2de-adb4ce6de6d2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "Scrape single URL",
        "url": "={{ $json.url }}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        5216,
        368
      ],
      "id": "ac00f811-5555-415d-9b48-a24c7cfa82d9",
      "name": "Scrape single URL",
      "credentials": {
        "apifyApi": {
          "id": "TJjEZgDf51exub0W",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const links = [\n  { \"title\": \"Assurer votre avenir est notre force\", \"url\": \"https://iutlaroche.univ-nantes.fr/\" },\n  { \"title\": \"Retirer mon diplôme - IUT La Roche-sur-Yon\", \"url\": \"https://iutlaroche.univ-nantes.fr/alumni/alumni\" },\n  { \"title\": \"Espace Alumni - IUT La Roche-sur-Yon\", \"url\": \"https://iutlaroche.univ-nantes.fr/alumni\" },\n  { \"title\": \"Comment s'inscrire à l'IUT ?\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/inscriptions\" },\n  { \"title\": \"Consulter toutes nos formations Bac+3\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/nos-formations\" },\n  { \"title\": \"Louer une salle à l'IUT\", \"url\": \"https://iutlaroche.univ-nantes.fr/espace-entreprises/louer-une-salle-a-liut-1\" },\n  { \"title\": \"Reprendre ses études\", \"url\": \"https://iutlaroche.univ-nantes.fr/espace-entreprises/formez-vos-collaborateurs\" },\n  { \"title\": \"Se professionnaliser - L'alternance à l'IUT\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/se-professionnaliser\" },\n  { \"title\": \"Offres d'emplois alumni - IUT La Roche-sur-Yon\", \"url\": \"https://iutlaroche.univ-nantes.fr/alumni/offres-demploi-alumni\" },\n  { \"title\": \"Organisation et contacts\", \"url\": \"https://iutlaroche.univ-nantes.fr/contacts\" },\n  { \"title\": \"BU La Roche-sur-Yon - IUT La Roche-sur-Yon\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/bibliotheque-universitaire\" },\n  { \"title\": \"F.A.Q : Foire aux questions - IUT La Roche-sur-Yon\", \"url\": \"https://iutlaroche.univ-nantes.fr/f-a-q-foire-aux-questions-1\" },\n  { \"title\": \"Taxe d'apprentissage 2025\", \"url\": \"https://iutlaroche.univ-nantes.fr/espace-entreprises/choisissez-de-nous-verser-la-taxe-dapprentissage-3\" },\n  { \"title\": \"Validation des Acquis de l’Expérience (VAE)\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/validation-des-acquis-de-lexperience-vae-1\" },\n  { \"title\": \"Partir à l'étranger en BUT\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/partir-a-letranger-1\" },\n  { \"title\": \"Organisation et contacts (Détails)\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/organisation-de-liut-de-la-roche-sur-yon\" },\n  { \"title\": \"Reprendre ses études (Formation continue)\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/reprise-detudes\" },\n  { \"title\": \"Un IUT dédié à la réussite de ses étudiant.e.s\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation\" },\n  { \"title\": \"Rejoignez l'IUT : les recrutements en cours\", \"url\": \"https://iutlaroche.univ-nantes.fr/nous-rejoindre\" },\n  { \"title\": \"Nos valeurs\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/nos-valeurs-1\" },\n  { \"title\": \"Le réseau Alumni\", \"url\": \"https://iutlaroche.univ-nantes.fr/le-reseau-alumni\" },\n  { \"title\": \"Un cadre d’études propice à la réussite\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/un-lieu-de-vie-et-detudes\" },\n  { \"title\": \"B.U.T Gestion des Entreprises et des Administrations (GEA)\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/bachelor-universitaire-de-technologie-gestion-des-entreprises-et-des-administrations\" },\n  { \"title\": \"Département Information et Communication\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/departement-info-com\" },\n  { \"title\": \"B.U.T Génie Biologique - Sciences de l'environnement\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/nos-formations/but-genie-biologique\" },\n  { \"title\": \"B.U.T Information et communication (IC)\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/nos-formations/but-information-et-communication\" },\n  { \"title\": \"Crédits et aspects légaux\", \"url\": \"https://iutlaroche.univ-nantes.fr/credits-et-aspects-legaux\" },\n  { \"title\": \"B.U.T Réseaux et télécommunications (RT)\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/but-reseaux-et-telecommunications\" },\n  { \"title\": \"Epicerie solidaire du campus\", \"url\": \"https://iutlaroche.univ-nantes.fr/accueil/epicerie-solidaire-du-campus-de-la-roche-sur-yon\" },\n  { \"title\": \"Vivre sur le campus\", \"url\": \"https://iutlaroche.univ-nantes.fr/vivre-sur-le-campus\" },\n  { \"title\": \"Données personnelles et cookies\", \"url\": \"https://iutlaroche.univ-nantes.fr/cookies\" },\n  { \"title\": \"Entreprises, osez l'IUT !\", \"url\": \"https://iutlaroche.univ-nantes.fr/espace-entreprises\" },\n  { \"title\": \"La recherche à l'IUT\", \"url\": \"https://iutlaroche.univ-nantes.fr/recherche\" },\n  { \"title\": \"L'actualité de l'IUT\", \"url\": \"https://iutlaroche.univ-nantes.fr/actualite-de-liut\" },\n  { \"title\": \"Service Scolarité\", \"url\": \"https://iutlaroche.univ-nantes.fr/service-scolarite-iut-laroche\" },\n  { \"title\": \"Licence Professionnelle Aménagements et gestions durables\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/licence-professionnelle-amenagements-et-gestions-durables-vegetal-eau-et-biodiversite\" },\n  { \"title\": \"Licence professionnelle Qualité, hygiène sécurité (LP SSAQNA)\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/nos-formations/licence-professionnelle-securite-sanitaire-des-aliments-qualite-nutrition-et-analyses\" },\n  { \"title\": \"Diplôme Comptable d'Université (D.C.U.)\", \"url\": \"https://iutlaroche.univ-nantes.fr/formation/diplome-comptable-duniversite-d-c-u-preparation-au-dcg\" },\n  { \"title\": \"Licence Professionnelle SyRDES (Son et Image)\", \"url\": \"https://iutlaroche.univ-nantes.fr/licence-professionnelle-techniques-du-son-et-de-limage-parcours-systemes-reseaux-dedies-au-spectacle-vivant-syrdes\" },\n  { \"title\": \"Service Accueil / Courrier\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/service-accueil-courrier\" },\n  { \"title\": \"Service Maintenance\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/service-maintenance\" },\n  { \"title\": \"Service Financier\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/service-financier-et-moyens-en-enseignement\" },\n  { \"title\": \"Service Informatique et Numérique\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/service-informatique-et-numerique\" },\n  { \"title\": \"Service Ressources Humaines\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/service-ressources-humaines\" },\n  { \"title\": \"AIR IC (Association étudiante Info Com)\", \"url\": \"https://iutlaroche.univ-nantes.fr/air-ic-info-com\" },\n  { \"title\": \"AIR RT (Association étudiante Réseaux)\", \"url\": \"https://iutlaroche.univ-nantes.fr/air-rt-reseaux-et-telecommunications\" },\n  { \"title\": \"Audacieuses Editions Etudiantes\", \"url\": \"https://iutlaroche.univ-nantes.fr/audacieuses-editions-etudiantes\" },\n  { \"title\": \"AIR GB (Association étudiante Génie Bio)\", \"url\": \"https://iutlaroche.univ-nantes.fr/air-gb-genie-bio\" },\n  { \"title\": \"AIR GEA (Association étudiante Gestion)\", \"url\": \"https://iutlaroche.univ-nantes.fr/air-gea-gestion\" },\n  { \"title\": \"Déposer une offre d'emploi ou de stage\", \"url\": \"https://iutlaroche.univ-nantes.fr/espace-entreprises/deposer-une-offre-demploi-de-stage-ou-dalternance\" },\n  { \"title\": \"Secrétariat Général\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/secretariat-general\" },\n  { \"title\": \"Pôle Formation\", \"url\": \"https://iutlaroche.univ-nantes.fr/organisation/pole-formation\" },\n  { \"title\": \"Cérémonie de remise des diplômes\", \"url\": \"https://iutlaroche.univ-nantes.fr/accueil/ceremonie-de-remise-des-diplomes-de-liut\" },\n  { \"title\": \"Job dating étudiant\", \"url\": \"https://iutlaroche.univ-nantes.fr/accueil/forum-job-etudiants\" },\n  { \"title\": \"Village des sciences\", \"url\": \"https://iutlaroche.univ-nantes.fr/accueil/village-des-sciences-a-la-roche-sur-yon\" },\n  { \"title\": \"Service Communication\", \"url\": \"https://iutlaroche.univ-nantes.fr/accueil/service-communication\" },\n  { \"title\": \"Service d'appui à la pédagogie et à l'alternance\", \"url\": \"https://iutlaroche.univ-nantes.fr/service-dappui-a-la-pedagogie-et-a-lalternance\" },\n  { \"title\": \"Equipe TEAM CBAC (Recherche GEPEA)\", \"url\": \"https://iutlaroche.univ-nantes.fr/recherche/umr-cnrs-6144-gepea-capteurs-biologiques-pour-lanalyse-et-le-controle\" },\n  { \"title\": \"UMR_C 6164 Institut d'Electronique (IETR)\", \"url\": \"https://iutlaroche.univ-nantes.fr/umr-6164-institut-delectronique-et-des-technologies-du-numerique\" },\n  { \"title\": \"UMR_C 6144 Laboratoire de Génie des Procédés\", \"url\": \"https://iutlaroche.univ-nantes.fr/umr-c6144-lab-de-genie-des-procedes-env-agroalimentaire\" }\n];\n\n// On transforme le tableau en items n8n\nreturn links.map(link => {\n  return {\n    json: link\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4864,
        384
      ],
      "id": "74d1efd3-04af-4dca-8175-70f6a22dd596",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5024,
        384
      ],
      "id": "e5c7a31b-54a3-485b-ab7b-172b662bf633",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5552,
        368
      ],
      "id": "b4906d93-3cfc-47fd-8b78-6046aa32b464",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "markdown"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        5776,
        368
      ],
      "id": "eedbac90-f6ca-4f82-beb9-668125dca0b0",
      "name": "Summarize2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f09321b-a044-4549-be82-4815833d9b17",
              "leftValue": "={{ $json.chatInput }} {{ $json.body.currentMessage }}",
              "rightValue": "précis",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        176
      ],
      "id": "d137d7fc-bf74-4eb4-beb9-c492a95251b9",
      "name": "If",
      "notes": "Gère le routage vers différents modèles de LLM."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.body.currentMessage }}",
        "options": {
          "systemPromptTemplate": "You are a **RAG (Retrieval-Augmented Generation) assistant** connected to a **Qdrant vector database**.\nYour task is to answer questions **exclusivement** using the provided Qdrant context.\n**Never** use external knowledge or assumptions.\n\n1. **Strict Context Adherence**:\n- Use **only** the retrieved Qdrant entries to answer.\n- If the answer is not in the context, respond:\n*\"I don’t know. No relevant documents were retrieved from the Qdrant database.\"*\n\n\n2. **Mandatory Source Citation**:\n- For **every answer**, explicitly cite:\n- **Filename** (e.g., `RT3/SAE54ProjetRechercheetInnovation/Tableau/Listes_Contacts_Stage_Alternance.xlsx`)\n\n- Example citation format:\n*\"According to [Filename: RT3/SAE54ProjetRechercheetInnovation/Tableau/Listes_Contacts_Stage_Alternance.xlsx, ID: 5eacad22-d8f2-4e6f-a437-e20544a57f77], the contact emails for Nantes Université are: patricia.marolleau@univ-nantes.fr, lucile.deletre@univ-nantes.fr.\"*\n\n\n3. **Metadata Utilization**:\n- If the context includes metadata (e.g., `Organisme / Entité`, `lines`), use it to **enhance clarity**.\n\n- Example:\n*\"From [Filename: RT3/SAE54ProjetRechercheetInnovation/Tableau/Listes_Contacts_Stage_Alternance.xlsx, ID: 1088c972-16f8-48ab-a053-c25d25c71e24, Lines 1-1], the email addresses for DGFIP (Finances publiques) are: gwenaelle.nicolet@impots.gouv.fr, valerie.soubra@impots.gouv.fr.\"*\n\n4. **Ambiguity Handling**:\n- If the context is unclear or insufficient, respond:\n*The provided context lacks sufficient information to answer confidently.*\n\n5. **Data Integrity**:\n- **NEVER** alter the original data. Format it for clarity, but preserve all details (emails, names, entities).\n\nNEVER create information if you dont know filename source document or text information say it !\n\n---\nCONTEXT:\n{context}\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        2384,
        544
      ],
      "id": "e60b709d-1782-4e2b-af04-33e4bb6880df",
      "name": "Question and Answer Chain1"
    },
    {
      "parameters": {
        "model": "ministral-3:3b",
        "options": {
          "temperature": 0.2,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2368,
        752
      ],
      "id": "07c0cf76-d246-4558-93f6-6946a1c698ba",
      "name": "Ollama Chat Model3",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        2544,
        896
      ],
      "id": "7ec2f80a-f6ad-4deb-83de-3ca69cebdc50",
      "name": "Vector Store Retriever1"
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2512,
        1152
      ],
      "id": "47bc69b1-7a7e-4549-b8af-eba16f55b629",
      "name": "Embeddings Ollama10",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "queryCount": 4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverMultiQuery",
      "typeVersion": 1,
      "position": [
        2496,
        736
      ],
      "id": "a068c820-55cd-4f1a-b7fa-4b76127fec26",
      "name": "MultiQuery Retriever1"
    },
    {
      "parameters": {
        "model": "ministral-3:8b",
        "options": {
          "temperature": 0.2,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2448,
        896
      ],
      "id": "bbf59116-c41f-49ed-b7a5-6e8720574ec4",
      "name": "Ollama Model4",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2688,
        544
      ],
      "id": "861477e2-d09f-4642-8840-f7cde2454e18",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_collection_tout_en_un_v3_test",
          "mode": "list",
          "cachedResultName": "rag_collection_tout_en_un_v3_test"
        },
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2512,
        1024
      ],
      "id": "260578b4-e921-4a26-9dd0-89f2d9565bc1",
      "name": "Qdrant Vector Store9",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "content": "## Scrapping SITE WEB IUT\n",
        "width": 1472
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4848,
        144
      ],
      "typeVersion": 1,
      "id": "b78b6a43-514a-47d2-a5ad-a0e1956bb7b4",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "query": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        4976,
        1328
      ],
      "id": "c51e76bb-2c1d-40f5-998f-79768afa0ab7",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "U2VDDlB7WApHifD5",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "03e81ae3-1d61-4e75-ac43-74756bb61b22",
      "name": "Chat Debug MODE",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1632,
        112
      ],
      "webhookId": "5e56a263-3a40-44bd-bc9d-1cfb3bc2a87d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": " You are a reliable and precise AI assistant.\n\nInstructions you must follow:\n\nWhen calling the tool, include clear arguments and keywords relevant to the query.\n\nBase your final answer only on the retrieved documents and the conversation context.\n\nDo not invent or fabricate information.\n\nIf the retrieved documents do not contain the answer, explicitly say: “Je ne sais pas.” "
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5200,
        1168
      ],
      "typeVersion": 1,
      "id": "57befaba-0ce1-4980-bf39-3aed9cdf3ed1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "CONFIG pour limiter l'accès à certaine ressource",
        "height": 352,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5136,
        784
      ],
      "typeVersion": 1,
      "id": "ace80a45-009e-42c5-88ed-15f032e71f98",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "model": "qllama/bge-reranker-v2-m3:f16",
        "topK": 18,
        "instruction": "retrieve relevant passages that answer the query",
        "additionalOptions": {}
      },
      "type": "n8n-nodes-ollama-reranker.ollamaReranker",
      "typeVersion": 1,
      "position": [
        2688,
        1168
      ],
      "id": "676260ad-29c8-4ff9-930b-47304c4c34d0",
      "name": "Ollama Reranker2",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "content": "## TEST MODE BENCHMARK\n\n",
        "height": 1532,
        "width": 5200,
        "color": 4
      },
      "id": "e534d3b9-7b08-4358-bf75-9de4aad4dd86",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1248,
        1840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.body.currentMessage }}{{ $('Edit Fields3').item.json.Questions }}",
        "options": {
          "systemPromptTemplate": "You are an assistant, for question-answering tasks. Use the following pieces of retrieved context to answer the question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\nYou are a text formatting assistant. Your task is to clean, parse, and reformat the raw text provided below.\n\n---------------\nCONTEXT : \n{context}\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        2496,
        1888
      ],
      "id": "2e65a475-e96b-4308-9e3a-13d1fd87e14e",
      "name": "Question and Answer Chain2"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {
          "temperature": 0.2,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2480,
        2112
      ],
      "id": "03d98f6a-0750-4158-a162-e166a2cf6008",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        2800,
        2192
      ],
      "id": "e767c2e7-12bb-4740-815d-06bf5d65bc1b",
      "name": "Vector Store Retriever2"
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2768,
        2480
      ],
      "id": "870f4235-8af8-435b-a86c-0e03f075877d",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "queryCount": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverMultiQuery",
      "typeVersion": 1,
      "position": [
        2704,
        2080
      ],
      "id": "f8aa21e5-cde8-42ec-ac2f-e799b87ae904",
      "name": "MultiQuery Retriever2"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {
          "temperature": 0.2,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2672,
        2304
      ],
      "id": "963d0177-e5ea-4fbd-842e-424af88ea837",
      "name": "Ollama Model5",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "model": "zyw0605688/bge-reranker-v2-m3:latest",
        "instruction": "retrieve relevant passages that answer the query",
        "additionalOptions": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-ollama-reranker.ollamaReranker",
      "typeVersion": 1,
      "position": [
        2880,
        2480
      ],
      "id": "59b02270-3599-4934-89af-468d97f60d79",
      "name": "Ollama Reranker3",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_collection_tout_en_un_v3_test",
          "mode": "list",
          "cachedResultName": "rag_collection_tout_en_un_v3_test"
        },
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2768,
        2320
      ],
      "id": "2f95aa99-6e50-4564-ba6d-0a90ef68c5a2",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f09321b-a044-4549-be82-4815833d9b17",
              "leftValue": "= {{ $('Edit Fields3').item.json.Questions }}",
              "rightValue": "précis",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2144,
        2032
      ],
      "id": "6f4b3a59-f471-4a73-8f07-dc45b4d22183",
      "name": "If1",
      "notes": "Gère le routage vers différents modèles de LLM."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} {{ $json.body.currentMessage }}{{ $('Code in JavaScript6').item.json.query }}",
        "options": {
          "systemPromptTemplate": "You are a **RAG (Retrieval-Augmented Generation) assistant** connected to a **Qdrant vector database**.\nYour task is to answer questions **exclusivement** using the provided Qdrant context.\n**Never** use external knowledge or assumptions.\n\n1. **Strict Context Adherence**:\n- Use **only** the retrieved Qdrant entries to answer.\n- If the answer is not in the context, respond:\n*\"I don’t know. No relevant documents were retrieved from the Qdrant database.\"*\n\n\n2. **Mandatory Source Citation**:\n- For **every answer**, explicitly cite:\n- **Filename** (e.g., `RT3/SAE54ProjetRechercheetInnovation/Tableau/Listes_Contacts_Stage_Alternance.xlsx`)\n\n- Example citation format:\n*\"According to [Filename: RT3/SAE54ProjetRechercheetInnovation/Tableau/Listes_Contacts_Stage_Alternance.xlsx, ID: 5eacad22-d8f2-4e6f-a437-e20544a57f77], the contact emails for Nantes Université are: patricia.marolleau@univ-nantes.fr, lucile.deletre@univ-nantes.fr.\"*\n\n\n3. **Metadata Utilization**:\n- If the context includes metadata (e.g., `Organisme / Entité`, `lines`), use it to **enhance clarity**.\n\n- Example:\n*\"From [Filename: RT3/SAE54ProjetRechercheetInnovation/Tableau/Listes_Contacts_Stage_Alternance.xlsx, ID: 1088c972-16f8-48ab-a053-c25d25c71e24, Lines 1-1], the email addresses for DGFIP (Finances publiques) are: gwenaelle.nicolet@impots.gouv.fr, valerie.soubra@impots.gouv.fr.\"*\n\n4. **Ambiguity Handling**:\n- If the context is unclear or insufficient, respond:\n*The provided context lacks sufficient information to answer confidently.*\n\n5. **Data Integrity**:\n- **NEVER** alter the original data. Format it for clarity, but preserve all details (emails, names, entities).\n\nNEVER create information if you dont know filename source document or text information say it !\n\n---\nCONTEXT:\n{context}\n---"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        2240,
        2528
      ],
      "id": "e6d1b7b0-79f8-4229-8c43-208b6afba43f",
      "name": "Question and Answer Chain3"
    },
    {
      "parameters": {
        "model": "ministral-3:3b",
        "options": {
          "temperature": 0.2,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2224,
        2704
      ],
      "id": "417be955-c058-420e-9e6d-beb6201bb781",
      "name": "Ollama Chat Model4",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "topK": 5
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        2400,
        2880
      ],
      "id": "9df84cdd-feee-410c-95a7-2445930e595c",
      "name": "Vector Store Retriever3"
    },
    {
      "parameters": {
        "model": "embeddinggemma:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2368,
        3184
      ],
      "id": "a8626a34-e9de-4125-a668-fd37a4429657",
      "name": "Embeddings Ollama11",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "queryCount": 4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverMultiQuery",
      "typeVersion": 1,
      "position": [
        2352,
        2720
      ],
      "id": "770b08f9-8da9-400f-8519-1c90103cf72c",
      "name": "MultiQuery Retriever3"
    },
    {
      "parameters": {
        "model": "ministral-3:8b",
        "options": {
          "temperature": 0.2,
          "numThread": 10
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        2304,
        2880
      ],
      "id": "8754babf-923f-47ea-b798-ee887f643a05",
      "name": "Ollama Model6",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "rag_collection_tout_en_un_v3_test",
          "mode": "list",
          "cachedResultName": "rag_collection_tout_en_un_v3_test"
        },
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        2368,
        3008
      ],
      "id": "e119acfc-078b-4107-a669-5334b15a7466",
      "name": "Qdrant Vector Store10",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1laU2F6f94NdvNhVO7SaYHDiSrhxhfgLrpshwfkikYRI",
          "mode": "list",
          "cachedResultName": "Evaluation_Modele",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laU2F6f94NdvNhVO7SaYHDiSrhxhfgLrpshwfkikYRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1952193628,
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laU2F6f94NdvNhVO7SaYHDiSrhxhfgLrpshwfkikYRI/edit#gid=1952193628"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Réponse": "={{ $('Question and Answer Chain2').item.json.response }}",
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
            "Temps de réponse ": "={{ $json.duree_totale.replace(/[^0-9.]/g, '') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Questions",
              "displayName": "Questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Réponse",
              "displayName": "Réponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Questions (Précis)",
              "displayName": "Questions (Précis)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Réponse (Précis)",
              "displayName": "Réponse (Précis)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temps de réponse ",
              "displayName": "Temps de réponse ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Temps de réponse (précis)",
              "displayName": "Temps de réponse (précis)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "QuestionID",
              "displayName": "QuestionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Réponse ",
              "displayName": "Réponse ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Calcul pertinence de la réponse",
              "displayName": "Calcul pertinence de la réponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3424,
        1888
      ],
      "id": "338c8929-873a-42a3-b846-0fdcdf997504",
      "name": "Update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kJinO34qDTue3Pqs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1laU2F6f94NdvNhVO7SaYHDiSrhxhfgLrpshwfkikYRI",
          "mode": "list",
          "cachedResultName": "Evaluation_Modele",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laU2F6f94NdvNhVO7SaYHDiSrhxhfgLrpshwfkikYRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1952193628,
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laU2F6f94NdvNhVO7SaYHDiSrhxhfgLrpshwfkikYRI/edit#gid=1952193628"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -688,
        2064
      ],
      "id": "c143cf1b-dc0e-4b26-86ff-a7f2e467dca1",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kJinO34qDTue3Pqs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        2064
      ],
      "id": "69dc8693-46db-485a-bfa1-70833e67962a",
      "name": "Loop Over Items",
      "notes": "Listes les questions dans le document pour ensuite les envoyer au RAG"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        3104,
        1888
      ],
      "id": "14b74c0a-8323-4300-bc41-2726868f33c1",
      "name": "Get Time Stop2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        560,
        2080
      ],
      "id": "04cc4adc-7ee9-4667-b2c4-3814d662c9e7",
      "name": "Get Time Start1"
    },
    {
      "parameters": {
        "jsCode": "// La fonction reste la même\nfunction calculerTempsEcoule(startTime, stopTime) {\n  const start = new Date(startTime);\n  const stop = new Date(stopTime);\n  const diffMs = stop - start;\n  const secondes = Math.abs(diffMs / 1000);\n  return `${secondes} secondes`;\n}\n\n// Récupération des données depuis les nœuds précédents\nconst tempsDepart = $('Get Time Start1').first().json.currentDate;\nconst tempsStop = $input.first().json.currentDate;\n\n// Calcul\nconst resultat = calculerTempsEcoule(tempsDepart, tempsStop);\n\n// IMPORTANT : Pour n8n, il faut retourner un tableau d'objets\nreturn [\n  {\n    json: {\n      temps_depart: tempsDepart,\n      temps_stop: tempsStop,\n      duree_totale: resultat\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3264,
        1888
      ],
      "id": "53bdabd9-9afa-49d5-b93e-a32db2765492",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1laU2F6f94NdvNhVO7SaYHDiSrhxhfgLrpshwfkikYRI",
          "mode": "list",
          "cachedResultName": "Evaluation_Modele",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1laU2F6f94NdvNhVO7SaYHDiSrhxhfgLrpshwfkikYRI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "1952193628",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet1').item.json.row_number }}",
            "Réponse (Précis)": "={{ $('Question and Answer Chain3').item.json.response }}",
            "Temps de réponse (précis)": "={{ $json.duree_totale.replace(/[^0-9.]/g, '') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Questions",
              "displayName": "Questions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Réponse",
              "displayName": "Réponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Questions (Précis)",
              "displayName": "Questions (Précis)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Réponse (Précis)",
              "displayName": "Réponse (Précis)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Temps de réponse",
              "displayName": "Temps de réponse",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Temps de réponse (précis)",
              "displayName": "Temps de réponse (précis)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3008,
        2768
      ],
      "id": "30972769-0902-4a6c-866c-bb5a6565ff65",
      "name": "Update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kJinO34qDTue3Pqs",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// La fonction reste la même\nfunction calculerTempsEcoule(startTime, stopTime) {\n  const start = new Date(startTime);\n  const stop = new Date(stopTime);\n  const diffMs = stop - start;\n  const secondes = Math.abs(diffMs / 1000);\n  return `${secondes} secondes`;\n}\n\n// Récupération des données depuis les nœuds précédents\nconst tempsDepart = $('Get Time Start1').first().json.currentDate;\nconst tempsStop = $input.first().json.currentDate;\n\n// Calcul\nconst resultat = calculerTempsEcoule(tempsDepart, tempsStop);\n\n// IMPORTANT : Pour n8n, il faut retourner un tableau d'objets\nreturn [\n  {\n    json: {\n      temps_depart: tempsDepart,\n      temps_stop: tempsStop,\n      duree_totale: resultat\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        2736
      ],
      "id": "acd08235-5ba0-42e3-80c8-2dc948212777",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        2688,
        2656
      ],
      "id": "dd5ec05e-1129-4706-880a-c2e89b9b71cc",
      "name": "Get Time Stop3"
    },
    {
      "parameters": {
        "model": "qllama/bge-reranker-v2-m3:f16",
        "topK": 18,
        "instruction": "retrieve relevant passages that answer the query",
        "additionalOptions": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-ollama-reranker.ollamaReranker",
      "typeVersion": 1,
      "position": [
        2544,
        3152
      ],
      "id": "e723ab33-8ed9-4494-bc4c-275c9b3306c8",
      "name": "Ollama Reranker4",
      "credentials": {
        "ollamaApi": {
          "id": "xHuYe0MDGOs9IpBW",
          "name": "Local Ollama service"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7aa343d-7512-453f-9537-8a75fbd21232",
              "name": "Questions",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        2080
      ],
      "id": "e735ef23-8801-49cf-bd62-d946cd0bd7e2",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfor (const item of $input.all()) {\n  // 1. On récupère les deux valeurs\n  const q1 = item.json[\"Questions\"];\n  const q2 = item.json[\"Questions (Précis)\"];\n\n  // 2. Si la première question existe, on crée un item\n  if (q1 && q1.trim() !== \"\") {\n    newItems.push({\n      json: { query: q1.trim(), type: \"Générale\" }\n    });\n  }\n\n  // 3. Si la deuxième question existe, on crée un deuxième item\n  if (q2 && q2.trim() !== \"\") {\n    newItems.push({\n      json: { query: q2.trim(), type: \"Précise\" }\n    });\n  }\n}\n\n// On retourne la nouvelle liste qui contient maintenant TOUTES les questions séparées\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        2080
      ],
      "id": "8501085c-26fd-41a6-ad06-9c1ab2a4026a",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "append",
              "field": "query"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        320,
        2320
      ],
      "id": "b68fcf41-4ff1-4fa4-b875-d39a806bf737",
      "name": "Summarize1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        2064
      ],
      "id": "8dbce79f-4371-47c0-acf5-5d05b94a2665",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "llama-3.2-1b",
        "options": {
          "temperature": 0.2,
          "timeout": 60000
        }
      },
      "type": "@rxap/n8n-nodes-litellm.liteLLMChat",
      "typeVersion": 1,
      "position": [
        2400,
        -304
      ],
      "id": "79a13767-c257-4324-9799-8b8cbd0ee5c7",
      "name": "LiteLLM Chat",
      "credentials": {
        "litellm": {
          "id": "3mFwnipa3FJk7TNH",
          "name": "LiteLLM account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.2-latest",
        "options": {
          "temperature": 0.2,
          "timeout": 60000
        }
      },
      "type": "@rxap/n8n-nodes-litellm.liteLLMChat",
      "typeVersion": 1,
      "position": [
        2560,
        -112
      ],
      "id": "31ce6f07-ccad-4aae-9415-45b0b3790824",
      "name": "LiteLLM Chat1",
      "credentials": {
        "litellm": {
          "id": "3mFwnipa3FJk7TNH",
          "name": "LiteLLM account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-3b",
        "options": {
          "temperature": 0.2,
          "timeout": 60000
        }
      },
      "type": "@rxap/n8n-nodes-litellm.liteLLMChat",
      "typeVersion": 1,
      "position": [
        2192,
        784
      ],
      "id": "d2616980-50a8-47f5-a7b9-ec903adc7756",
      "name": "LiteLLM Chat2",
      "credentials": {
        "litellm": {
          "id": "3mFwnipa3FJk7TNH",
          "name": "LiteLLM account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-8b",
        "options": {
          "temperature": 0.2,
          "timeout": 60000
        }
      },
      "type": "@rxap/n8n-nodes-litellm.liteLLMChat",
      "typeVersion": 1,
      "position": [
        2352,
        976
      ],
      "id": "0244eec8-f7ce-4da6-83c4-16e4de78af93",
      "name": "LiteLLM Chat3",
      "credentials": {
        "litellm": {
          "id": "3mFwnipa3FJk7TNH",
          "name": "LiteLLM account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-3b",
        "options": {
          "temperature": 0.2,
          "timeout": 1000000
        }
      },
      "type": "@rxap/n8n-nodes-litellm.liteLLMChat",
      "typeVersion": 1,
      "position": [
        2096,
        2672
      ],
      "id": "ae08ac70-99b9-4239-9d71-45b255635a38",
      "name": "LiteLLM Chat4",
      "credentials": {
        "litellm": {
          "id": "3mFwnipa3FJk7TNH",
          "name": "LiteLLM account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-8b",
        "options": {
          "temperature": 0.2,
          "timeout": 1000000
        }
      },
      "type": "@rxap/n8n-nodes-litellm.liteLLMChat",
      "typeVersion": 1,
      "position": [
        2160,
        2928
      ],
      "id": "ec4e9b7d-2c5d-40d4-90f8-33601cdf9362",
      "name": "LiteLLM Chat5",
      "credentials": {
        "litellm": {
          "id": "3mFwnipa3FJk7TNH",
          "name": "LiteLLM account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-3b",
        "options": {
          "temperature": 0.2,
          "timeout": 1000000
        }
      },
      "type": "@rxap/n8n-nodes-litellm.liteLLMChat",
      "typeVersion": 1,
      "position": [
        2368,
        2064
      ],
      "id": "c645702f-fed8-4e43-b2da-e6dee879962a",
      "name": "LiteLLM Chat6",
      "credentials": {
        "litellm": {
          "id": "3mFwnipa3FJk7TNH",
          "name": "LiteLLM account"
        }
      }
    },
    {
      "parameters": {
        "model": "ministral-8b",
        "options": {
          "temperature": 0.2,
          "timeout": 1000000
        }
      },
      "type": "@rxap/n8n-nodes-litellm.liteLLMChat",
      "typeVersion": 1,
      "position": [
        2592,
        2240
      ],
      "id": "5cd61044-01a1-4c69-abc8-f4b53d29a77a",
      "name": "LiteLLM Chat7",
      "credentials": {
        "litellm": {
          "id": "3mFwnipa3FJk7TNH",
          "name": "LiteLLM account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Query Retriever with Rerank": {
      "ai_tool": [
        []
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Query Retriever with Rerank",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Query Retriever with Rerank",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Query Retriever with Rerank",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama3": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Query Retriever with Rerank",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        []
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "MultiQuery Retriever",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama5": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store7",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MultiQuery Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Ollama Reranker": {
      "ai_reranker": [
        [
          {
            "node": "Qdrant Vector Store7",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama7": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store6",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Reranker1": {
      "ai_reranker": [
        [
          {
            "node": "Qdrant Vector Store6",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store6": {
      "ai_vectorStore": [
        []
      ]
    },
    "Qdrant Vector Store7": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Liste Dossier Test 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape single URL": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape single URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Summarize2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model3": {
      "ai_languageModel": [
        []
      ]
    },
    "Vector Store Retriever1": {
      "ai_retriever": [
        [
          {
            "node": "MultiQuery Retriever1",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama10": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store9",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MultiQuery Retriever1": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model4": {
      "ai_languageModel": [
        []
      ]
    },
    "Qdrant Vector Store9": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Debug MODE": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Ollama Reranker2": {
      "ai_reranker": [
        [
          {
            "node": "Qdrant Vector Store9",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain2": {
      "main": [
        [
          {
            "node": "Get Time Stop2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Vector Store Retriever2": {
      "ai_retriever": [
        [
          {
            "node": "MultiQuery Retriever2",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MultiQuery Retriever2": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain2",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model5": {
      "ai_languageModel": [
        []
      ]
    },
    "Ollama Reranker3": {
      "ai_reranker": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever2",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Question and Answer Chain3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Question and Answer Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain3": {
      "main": [
        [
          {
            "node": "Get Time Stop3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model4": {
      "ai_languageModel": [
        []
      ]
    },
    "Vector Store Retriever3": {
      "ai_retriever": [
        [
          {
            "node": "MultiQuery Retriever3",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama11": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store10",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "MultiQuery Retriever3": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain3",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model6": {
      "ai_languageModel": [
        []
      ]
    },
    "Qdrant Vector Store10": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever3",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Time Stop2": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Time Start1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Update row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Time Stop3": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Reranker4": {
      "ai_reranker": [
        [
          {
            "node": "Qdrant Vector Store10",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Get Time Start1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Chat1": {
      "ai_languageModel": [
        [
          {
            "node": "MultiQuery Retriever",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Chat3": {
      "ai_languageModel": [
        [
          {
            "node": "MultiQuery Retriever1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Chat2": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Chat4": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Chat5": {
      "ai_languageModel": [
        [
          {
            "node": "MultiQuery Retriever3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Chat6": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM Chat7": {
      "ai_languageModel": [
        [
          {
            "node": "MultiQuery Retriever2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionTimeout": 3600
  },
  "versionId": "8785be83-e776-4939-9360-dbe0edb422c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "WUvViclRQRqtxYto",
  "tags": []
}
